numpy==2.3.0
pandas==2.3.0
scikit-learn==1.7.0

torch==2.7.1
transformers==4.53.0
datasets==3.6.0
tokenizers==0.21.2
accelerate==1.8.1
evaluate==0.4.5

tqdm==4.67.1
joblib==1.5.1

matplotlib==3.10.3
seaborn==0.13.2
rich==14.1.0

-e .